html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Chakra Petch", sans-serif;
}

@keyframes toastSlide {
  80% {
    left: -15px;
  }
  90% {
    left: 15px;
  }
  100% {
    left: 0px;
  }
}
@keyframes toastTimer {
  100% {
    width: 0px;
  }
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  margin-block: 5px;
  background-color: rgba(22, 5, 44, 0.788);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(214, 142, 255, 0.781);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0e0e10;
}

header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .boxTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1360px;
}
header .boxTop .boxContent {
  padding: 10px 0px;
  height: 66px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .boxTop .boxContent .left {
  display: flex;
  justify-content: start;
  align-items: center;
}
header .boxTop .boxContent .left .burger {
  display: none;
}
header .boxTop .boxContent .left .logo {
  position: absolute;
  height: 100px;
  top: 0px;
  left: -20px;
  z-index: 3;
}
header .boxTop .boxContent .left .mySearchForm {
  margin-left: 80px;
  width: 400px;
  position: relative;
}
header .boxTop .boxContent .left .mySearchForm .inputLabel {
  color: #807e7e;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  font-size: 16px;
  left: 6px;
  position: absolute;
  bottom: 8px;
  transition: 0.3s;
  pointer-events: none;
}
header .boxTop .boxContent .left .mySearchForm .inputField {
  color: white;
  width: 100%;
  padding: 4px 27px 4px 5px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  font-size: 16px;
  outline: none;
  border: 3px solid transparent;
  border-bottom: 3px solid #807e7e;
  transition: 0.3s;
  background-color: transparent;
}
header .boxTop .boxContent .left .mySearchForm .inputField::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: transparent;
}
header .boxTop .boxContent .left .mySearchForm .inputField::placeholder {
  transition: 0.3s;
  color: transparent;
}
header .boxTop .boxContent .left .mySearchForm .inputField:focus {
  border-bottom: 3px solid #8c01cf;
}
header .boxTop .boxContent .left .mySearchForm .inputField:not(:-moz-placeholder-shown) {
  border-bottom: 3px solid #8c01cf;
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
  border-image-slice: 1;
}
header .boxTop .boxContent .left .mySearchForm .inputField:not(:placeholder-shown), header .boxTop .boxContent .left .mySearchForm .inputField:focus {
  border-bottom: 3px solid #8c01cf;
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
     border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
  border-image-slice: 1;
}
header .boxTop .boxContent .left .mySearchForm .inputField:not(:-moz-placeholder-shown) ~ .inputLabel {
  padding: 2px 2px;
  color: #8c01cf;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  font-size: 12px;
  left: 4px;
  display: inline-block;
  position: absolute;
  bottom: 28px;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background-color: #0e0e10;
}
header .boxTop .boxContent .left .mySearchForm .inputField:not(:placeholder-shown) ~ .inputLabel, header .boxTop .boxContent .left .mySearchForm .inputField:focus ~ .inputLabel {
  padding: 2px 2px;
  color: #8c01cf;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  font-size: 12px;
  left: 4px;
  display: inline-block;
  position: absolute;
  bottom: 28px;
  transition: 0.3s;
  background-color: #0e0e10;
}
@media (max-width: 1359px) {
  header .boxTop .boxContent .left .mySearchForm .inputLabel {
    color: #807e7e;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 16px;
    left: 6px;
    position: absolute;
    bottom: 8px;
    transition: 0.3s;
    pointer-events: none;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField {
    color: white;
    width: 100%;
    padding: 4px 20px 4px 5px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 16px;
    outline: none;
    border: 3px solid transparent;
    border-bottom: 3px solid #807e7e;
    transition: 0.3s;
    background-color: transparent;
    height: 30px;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField::-moz-placeholder {
    -moz-transition: 0.3s;
    transition: 0.3s;
    color: transparent;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField::placeholder {
    transition: 0.3s;
    color: transparent;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:focus {
    border-bottom: 3px solid #8c01cf;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:-moz-placeholder-shown) {
    border-bottom: 3px solid #8c01cf;
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
    border-image-slice: 1;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:placeholder-shown), header .boxTop .boxContent .left .mySearchForm .inputField:focus {
    border-bottom: 3px solid #8c01cf;
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    -o-border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
       border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
    border-image-slice: 1;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:-moz-placeholder-shown) ~ .inputLabel {
    padding: 2px 2px;
    color: #8c01cf;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 12px;
    left: 4px;
    display: inline-block;
    position: absolute;
    bottom: 21px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    background-color: #0e0e10;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:placeholder-shown) ~ .inputLabel, header .boxTop .boxContent .left .mySearchForm .inputField:focus ~ .inputLabel {
    padding: 2px 2px;
    color: #8c01cf;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 12px;
    left: 4px;
    display: inline-block;
    position: absolute;
    bottom: 21px;
    transition: 0.3s;
    background-color: #0e0e10;
  }
}
@media (max-width: 768px) {
  header .boxTop .boxContent .left .mySearchForm .inputLabel {
    color: #807e7e;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 14px;
    left: 6px;
    position: absolute;
    bottom: 8px;
    transition: 0.3s;
    pointer-events: none;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField {
    color: white;
    width: 100%;
    padding: 4px 18px 4px 5px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 12px;
    outline: none;
    border: 2px solid transparent;
    border-bottom: 2px solid #807e7e;
    transition: 0.3s;
    background-color: transparent;
    height: 30px;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField::-moz-placeholder {
    -moz-transition: 0.3s;
    transition: 0.3s;
    color: transparent;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField::placeholder {
    transition: 0.3s;
    color: transparent;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:focus {
    border-bottom: 2px solid #8c01cf;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:-moz-placeholder-shown) {
    border-bottom: 2px solid #8c01cf;
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 2px;
    border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
    border-image-slice: 1;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:placeholder-shown), header .boxTop .boxContent .left .mySearchForm .inputField:focus {
    border-bottom: 2px solid #8c01cf;
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 2px;
    -o-border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
       border-image: linear-gradient(to right, #8c01cf, #d9a5ef);
    border-image-slice: 1;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:-moz-placeholder-shown) ~ .inputLabel {
    padding: 2px 2px;
    color: #8c01cf;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 12px;
    left: 4px;
    display: inline-block;
    position: absolute;
    bottom: 21px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    background-color: #0e0e10;
  }
  header .boxTop .boxContent .left .mySearchForm .inputField:not(:placeholder-shown) ~ .inputLabel, header .boxTop .boxContent .left .mySearchForm .inputField:focus ~ .inputLabel {
    padding: 2px 2px;
    color: #8c01cf;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 12px;
    left: 4px;
    display: inline-block;
    position: absolute;
    bottom: 21px;
    transition: 0.3s;
    background-color: #0e0e10;
  }
}
header .boxTop .boxContent .left .mySearchForm .searchIcon {
  height: 20px;
  opacity: 0.8;
  position: absolute;
  bottom: 1px;
  right: 5px;
  bottom: 8px;
  cursor: pointer;
}
header .boxTop .boxContent .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .boxTop .boxContent .right .myBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  background-color: rgb(162, 16, 247);
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  line-height: 140%;
  color: white;
  padding: 6px 10px;
  box-shadow: transparent;
  transition: 0.3s;
  width: 104px;
  height: 37px;
}
header .boxTop .boxContent .right .myBtn .btnImg {
  height: 22px;
  transform: translateX(-1px);
}
header .boxTop .boxContent .right .myBtn:hover {
  scale: 1.02;
}
header .boxTop .boxContent .right .myBtn:active {
  box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
  scale: 0.98;
}
@media (max-width: 1359px) {
  header .boxTop .boxContent .right .myBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 6px;
         column-gap: 6px;
    background-color: rgb(162, 16, 247);
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 12px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 140%;
    color: white;
    padding: 6px 10px;
    box-shadow: transparent;
    transition: 0.3s;
    width: 104px;
    height: 37px;
  }
  header .boxTop .boxContent .right .myBtn .btnImg {
    height: 18px;
    transform: translateX(-1px);
  }
  header .boxTop .boxContent .right .myBtn:hover {
    scale: 1.02;
  }
  header .boxTop .boxContent .right .myBtn:active {
    box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
    scale: 0.98;
  }
}
@media (max-width: 768px) {
  header .boxTop .boxContent .right .myBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 6px;
         column-gap: 6px;
    background-color: rgb(162, 16, 247);
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 10px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 140%;
    color: white;
    padding: 2px 3px;
    box-shadow: transparent;
    transition: 0.3s;
    width: 104px;
    height: 37px;
  }
  header .boxTop .boxContent .right .myBtn .btnImg {
    height: 12px;
    transform: translateX(-1px);
  }
  header .boxTop .boxContent .right .myBtn:hover {
    scale: 1.02;
  }
  header .boxTop .boxContent .right .myBtn:active {
    box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
    scale: 0.98;
  }
}
header .boxTop .boxContent .right .accountHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: transparent;
  cursor: pointer;
  padding: 4px;
  transition: 0.2s;
  position: relative;
}
header .boxTop .boxContent .right .accountHolder .pfp {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  border: 2px solid #8c01cf;
}
header .boxTop .boxContent .right .accountHolder .chevronAcc {
  width: 14px;
  height: 14px;
  opacity: 0.6;
  transition: 0.1s;
}
header .boxTop .boxContent .right .accountHolder:hover {
  border-radius: 20px;
  background-color: rgba(137, 43, 226, 0.3);
}
header .boxTop .boxContent .right .accountHolder:hover .chevronAcc {
  opacity: 1;
}
header .boxTop .boxContent .right .accountHolder .accountContent {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 0px;
  padding: 20px;
  background-color: #252425;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  flex-direction: column;
  border: 2px solid #8c01cf;
  display: none;
  transition: 0.1s;
}
header .boxTop .boxContent .right .accountHolder .accountContent.active {
  display: flex;
}
header .boxTop .boxContent .right .accountHolder .accountContent .accountLine {
  text-decoration: none;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
header .boxTop .boxContent .right .accountHolder .accountContent .accountLine:not(:first-child) {
  margin-top: 10px;
}
header .boxTop .boxContent .right .accountHolder .accountContent .accountLine > p {
  font-size: 16px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 120%;
  color: white;
}
header .boxTop .boxContent .right .accountHolder .accountContent .accountLine > img {
  height: 22px;
}
header .boxTop .boxContent .right .accountHolder .accountContent .divider {
  background-color: rgb(95, 95, 95);
  height: 1px;
  width: 120%;
  align-self: center;
}
header .boxTop .boxContent .right .basketHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: transparent;
  cursor: pointer;
  padding: 4px;
  transition: 0.2s;
  position: relative;
}
header .boxTop .boxContent .right .basketHolder .basketIcon {
  width: 30px;
  height: 30px;
}
header .boxTop .boxContent .right .basketHolder .chevronBasket {
  width: 14px;
  height: 14px;
  opacity: 0.6;
  transition: 0.1s;
}
header .boxTop .boxContent .right .basketHolder:hover {
  border-radius: 20px;
  background-color: rgba(137, 43, 226, 0.3);
}
header .boxTop .boxContent .right .basketHolder:hover .chevronBasket {
  opacity: 1;
}
header .boxTop .boxContent .right .basketHolder .basketContent {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 0px;
  padding: 20px;
  background-color: #252425;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  flex-direction: column;
  border: 2px solid #8c01cf;
  display: none;
  transition: 0.1s;
  max-height: 437px;
  overflow: auto;
}
header .boxTop .boxContent .right .basketHolder .basketContent.active {
  display: flex;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat:not(:first-child) {
  margin-top: 16px;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 300px;
  overflow: hidden;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .title {
  font-size: 20px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 40px;
  color: white;
  height: 40px;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.8;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .title:hover {
  opacity: 1;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .beatCover {
  height: 40px;
  border: 1px solid transparent;
  transition: 0.2s;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .beatCover:hover {
  border: 1px solid #8c01cf;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .price {
  font-size: 14px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  line-height: 40px;
  color: white;
  cursor: text;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .removeBasket .ex {
  transform: rotate(45deg);
  transition: 0.3s;
}
header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .removeBasket .ex:hover {
  transform: rotate(225deg);
}
header .boxTop .boxContent .right .basketHolder .basketContent .divider {
  background-color: rgba(95, 95, 95, 0.445);
  height: 2px;
  width: 100%;
  align-self: center;
}
header .boxTop .boxContent .right .basketHolder .basketContent .checkout {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  background-color: rgb(162, 16, 247);
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  line-height: 140%;
  color: white;
  padding: 6px 10px;
  box-shadow: transparent;
  transition: 0.3s;
  width: 100%;
  height: 37px;
  padding: 10px;
  text-decoration: none;
}
header .boxTop .boxContent .right .basketHolder .basketContent .checkout .btnImg {
  height: 22px;
  transform: translateX(-1px);
}
header .boxTop .boxContent .right .basketHolder .basketContent .checkout:hover {
  scale: 1.02;
}
header .boxTop .boxContent .right .basketHolder .basketContent .checkout:active {
  box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
  scale: 0.98;
}
@media (max-width: 1359px) {
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 6px;
         column-gap: 6px;
    background-color: rgb(162, 16, 247);
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 12px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 140%;
    color: white;
    padding: 6px 10px;
    box-shadow: transparent;
    transition: 0.3s;
    width: 100%;
    height: 37px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout .btnImg {
    height: 18px;
    transform: translateX(-1px);
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout:hover {
    scale: 1.02;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout:active {
    box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
    scale: 0.98;
  }
}
@media (max-width: 768px) {
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 6px;
         column-gap: 6px;
    background-color: rgb(162, 16, 247);
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 10px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 140%;
    color: white;
    padding: 2px 3px;
    box-shadow: transparent;
    transition: 0.3s;
    width: 100%;
    height: 37px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout .btnImg {
    height: 12px;
    transform: translateX(-1px);
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout:hover {
    scale: 1.02;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout:active {
    box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
    scale: 0.98;
  }
}

nav {
  background-color: #252425;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 66px;
  left: 0px;
  width: 100%;
  z-index: 2;
  position: absolute;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.986) inset;
}
nav .boxBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1360px;
}
nav .boxBottom .bottomBoxContent {
  padding: 10px 30px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
nav .boxBottom .bottomBoxContent > a {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  line-height: 100%;
  color: white;
  color: rgb(151, 151, 151);
  transition: 0.3s;
}
nav .boxBottom .bottomBoxContent > a:hover {
  color: rgb(216, 216, 216);
  transform: translateY(-5px);
  scale: 1.05;
  box-shadow: rgba(162, 16, 247, 0.4) 0px 5px, rgba(162, 16, 247, 0.3) 0px 10px, rgba(162, 16, 247, 0.2) 0px 15px, rgba(162, 16, 247, 0.1) 0px 20px, rgba(162, 16, 247, 0.05) 0px 25px;
}
nav .boxBottom .bottomBoxContent #home {
  font-size: 28px;
}
nav .boxBottom .bottomBoxContent #home:hover {
  box-shadow: rgba(162, 16, 247, 0.4) 0px 5px, rgba(162, 16, 247, 0.3) 0px 10px, rgba(162, 16, 247, 0.2) 0px 15px, rgba(162, 16, 247, 0.1) 0px 20px, rgba(162, 16, 247, 0.05) 0px 25px;
}
nav .boxBottom .bottomBoxContent #myMedia,
nav .boxBottom .bottomBoxContent #tracks {
  font-size: 20px;
}
nav .boxBottom .bottomBoxContent #tracks,
nav .boxBottom .bottomBoxContent #artists {
  transform: translateY(1px);
}
nav .boxBottom .bottomBoxContent #tracks:last-child,
nav .boxBottom .bottomBoxContent #artists:last-child {
  transform: translateY(2px);
}
nav .boxBottom .bottomBoxContent #tracks:hover,
nav .boxBottom .bottomBoxContent #artists:hover {
  transform: translateX(-3px);
  box-shadow: rgba(162, 16, 247, 0.4) 5px 5px, rgba(162, 16, 247, 0.3) 10px 10px, rgba(162, 16, 247, 0.2) 15px 15px, rgba(162, 16, 247, 0.1) 20px 20px, rgba(162, 16, 247, 0.05) 25px 25px;
}
nav .boxBottom .bottomBoxContent #tracks:hover:first-child,
nav .boxBottom .bottomBoxContent #artists:hover:first-child {
  transform: translateX(-5px);
  transform: translateY(-2px);
}
nav .boxBottom .bottomBoxContent #myMedia,
nav .boxBottom .bottomBoxContent #feed {
  transform: translateY(1px);
}
nav .boxBottom .bottomBoxContent #myMedia:first-child,
nav .boxBottom .bottomBoxContent #feed:first-child {
  transform: translateY(2px);
}
nav .boxBottom .bottomBoxContent #myMedia:hover,
nav .boxBottom .bottomBoxContent #feed:hover {
  transform: translateX(3px);
  box-shadow: rgba(162, 16, 247, 0.4) -5px 5px, rgba(162, 16, 247, 0.3) -10px 10px, rgba(162, 16, 247, 0.2) -15px 15px, rgba(162, 16, 247, 0.1) -20px 20px, rgba(162, 16, 247, 0.05) -25px 25px;
}
nav .boxBottom .bottomBoxContent #myMedia:hover:last-child,
nav .boxBottom .bottomBoxContent #feed:hover:last-child {
  transform: translateX(5px);
  transform: translateY(-2px);
}

@media (max-width: 1359px) {
  header .boxTop {
    width: 768px;
  }
  header .boxTop .boxContent {
    padding: 8px 0px;
    height: 56px;
  }
  header .boxTop .boxContent .left .mySearchForm {
    margin-left: 70px;
    width: 300px;
  }
  header .boxTop .boxContent .left .mySearchForm .searchIcon {
    height: 16px;
    opacity: 0.8;
    position: absolute;
    bottom: 1px;
    right: 5px;
    bottom: 7px;
    cursor: pointer;
  }
  header .boxTop .boxContent .right {
    gap: 18px;
  }
  header .boxTop .boxContent .right .myBtn {
    width: 94px;
    height: 32px;
  }
  header .boxTop .boxContent .right .accountHolder .pfp {
    height: 30px;
    width: 30px;
  }
  header .boxTop .boxContent .right .accountHolder .chevronAcc {
    width: 12px;
    height: 12px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent {
    top: 44px;
    right: 0px;
    padding: 14px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine {
    margin-bottom: 6px;
    gap: 4px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine:not(:first-child) {
    margin-top: 6px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine > p {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    line-height: 100%;
    color: white;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine > img {
    height: 16px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .divider {
    background-color: rgb(95, 95, 95);
    height: 1px;
    width: 120%;
    align-self: center;
  }
  header .boxTop .boxContent .right .basketHolder .basketIcon {
    width: 28px;
    height: 28px;
  }
  header .boxTop .boxContent .right .basketHolder .chevronBasket {
    width: 12px;
    height: 12px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent {
    top: 44px;
    padding: 14px;
    max-height: 220px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat {
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat:not(:first-child) {
    margin-top: 10px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width: 200px;
    overflow: hidden;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .title {
    font-size: 16px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: white;
    height: 30px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .beatCover {
    height: 30px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .price {
    font-size: 12px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: white;
    cursor: text;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .removeBasket .ex {
    height: 18px;
    transform: rotate(45deg);
    transition: 0.3s;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .removeBasket .ex:hover {
    transform: rotate(225deg);
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .divider {
    height: 1px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout {
    margin-top: 8px;
    height: 30px;
    padding: 8px;
  }
  nav {
    background-color: #252425;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    top: 56px;
  }
  nav .boxBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1360px;
  }
  nav .boxBottom .bottomBoxContent {
    padding: 10px 30px;
    height: 40px;
    gap: 25px;
  }
  nav .boxBottom .bottomBoxContent > a {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 100%;
    color: white;
    color: rgb(151, 151, 151);
  }
  nav .boxBottom .bottomBoxContent #home {
    font-size: 22px;
  }
  nav .boxBottom .bottomBoxContent #myMedia,
  nav .boxBottom .bottomBoxContent #tracks {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  header .boxTop {
    width: 960px;
  }
  header .boxTop .boxContent {
    padding: 8px 0px;
    height: 52px;
  }
  header .boxTop .boxContent .left {
    width: 60%;
    display: flex;
    align-items: center;
  }
  header .boxTop .boxContent .left .burger {
    transform: translateX(8px);
    display: inline-block;
    transition: 0.3s;
  }
  header .boxTop .boxContent .left .burger:hover {
    border-radius: 10px;
    background-color: rgba(137, 43, 226, 0.3);
  }
  header .boxTop .boxContent .left .logo {
    width: 98px;
    z-index: 3;
    left: calc(50% + 5px);
    transform: translateX(-50%);
    top: -2px;
  }
  header .boxTop .boxContent .left .mySearchForm {
    margin-left: 20px;
    width: 52%;
  }
  header .boxTop .boxContent .left .mySearchForm .searchIcon {
    height: 16px;
    opacity: 0.8;
    position: absolute;
    bottom: 1px;
    right: 5px;
    bottom: 7px;
    cursor: pointer;
  }
  header .boxTop .boxContent .right {
    gap: 6px;
  }
  header .boxTop .boxContent .right .myBtn {
    width: 70px;
    height: 28px;
  }
  header .boxTop .boxContent .right .accountHolder {
    gap: 2px;
  }
  header .boxTop .boxContent .right .accountHolder .pfp {
    height: 22px;
    width: 22px;
  }
  header .boxTop .boxContent .right .accountHolder .chevronAcc {
    width: 8px;
    height: 8px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent {
    border: 1px solid #8c01cf;
    top: 41px;
    right: 0px;
    padding: 12px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine {
    margin-bottom: 6px;
    gap: 4px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine:not(:first-child) {
    margin-top: 6px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine > p {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    line-height: 100%;
    color: white;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .accountLine > img {
    height: 16px;
  }
  header .boxTop .boxContent .right .accountHolder .accountContent .divider {
    background-color: rgb(95, 95, 95);
    height: 1px;
    width: 120%;
    align-self: center;
  }
  header .boxTop .boxContent .right .basketHolder {
    gap: 2px;
  }
  header .boxTop .boxContent .right .basketHolder .basketIcon {
    width: 20px;
    height: 20px;
  }
  header .boxTop .boxContent .right .basketHolder .chevronBasket {
    width: 8px;
    height: 8px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent {
    border: 1px solid #8c01cf;
    top: 44px;
    padding: 14px;
    max-height: 220px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat {
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat:not(:first-child) {
    margin-top: 10px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width: 200px;
    overflow: hidden;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .title {
    font-size: 16px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: white;
    height: 30px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .beatDetail .beatCover {
    height: 30px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .price {
    font-size: 12px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: white;
    cursor: text;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .removeBasket .ex {
    height: 18px;
    transform: rotate(45deg);
    transition: 0.3s;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .oneBeat .removeBasket .ex:hover {
    transform: rotate(225deg);
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .divider {
    height: 1px;
  }
  header .boxTop .boxContent .right .basketHolder .basketContent .checkout {
    margin-top: 8px;
    height: 30px;
    padding: 8px;
  }
  nav {
    top: 52px;
    left: 0;
    z-index: 3;
    width: 100px;
    height: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #8c01cf;
    border-top: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
  }
  nav .boxBottom {
    margin-bottom: 6px;
  }
  nav .boxBottom .bottomBoxContent {
    width: -moz-max-content;
    width: max-content;
    flex-direction: column;
    padding: 5px 10px;
    height: 20px;
    gap: 10px;
  }
  nav .boxBottom .bottomBoxContent > a {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 100%;
    color: white;
    width: 80px;
    align-self: center;
    border-bottom: 1px solid rgb(51, 51, 51);
    padding-bottom: 5px;
    font-size: 14px !important;
    color: rgb(151, 151, 151) !important;
    transform: translateX(0) !important;
    transform: translateY(0) !important;
  }
  nav .boxBottom .bottomBoxContent > a:hover {
    transform: translateX(0) !important;
    transform: translateY(0) !important;
    box-shadow: none !important;
  }
}
#toastBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  right: 30px;
  top: 30px;
  overflow: hidden;
}
#toastBox .invalid {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  background-color: white;
  width: 250px;
  height: 60px;
  font-size: 14px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 140%;
  color: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 14px;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  left: calc(100% + 30px);
}
#toastBox .invalid .imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
#toastBox .invalid .imageBox > img {
  height: 25px;
}
#toastBox .invalid::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #ff0015;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  bottom: 0px;
  left: 0;
}
#toastBox .success {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  background-color: white;
  width: 250px;
  height: 60px;
  font-size: 14px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 140%;
  color: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 14px;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  left: calc(100% + 30px);
}
#toastBox .success .imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
#toastBox .success .imageBox > img {
  height: 25px;
}
#toastBox .success::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #4fc232;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  bottom: 0px;
  left: 0;
}
#toastBox .animated {
  animation: toastSlide 0.5s ease-out forwards;
}
#toastBox .animated::after {
  animation: toastTimer 1.5s linear 0.5s forwards;
}

@media (max-width: 1359px) {
  #toastBox {
    gap: 12px;
    right: 25px;
    top: 25px;
  }
  #toastBox .invalid {
    width: 200px;
    height: 55px;
    font-size: 12px;
    padding: 0px 0px 0px 12px;
    gap: 10px;
    left: calc(100% + 25px);
  }
  #toastBox .invalid .imageBox > img {
    height: 20px;
  }
  #toastBox .invalid::after {
    height: 3px;
  }
  #toastBox .success {
    width: 200px;
    height: 55px;
    font-size: 12px;
    padding: 0px 0px 0px 12px;
    gap: 10px;
    left: calc(100% + 25px);
  }
  #toastBox .success .imageBox > img {
    height: 20px;
  }
  #toastBox .success::after {
    height: 3px;
  }
}
@media (max-width: 768px) {
  #toastBox {
    gap: 8px;
    right: 10px;
    top: 10px;
  }
  #toastBox .invalid {
    height: 45px;
    font-size: 12px;
    padding: 0px 0px 0px 2px;
    gap: 10px;
    left: calc(100% + 25px);
  }
  #toastBox .invalid .imageBox > img {
    height: 18px;
  }
  #toastBox .invalid::after {
    height: 2px;
  }
  #toastBox .success {
    height: 45px;
    font-size: 12px;
    padding: 0px 0px 0px 2px;
    gap: 10px;
    left: calc(100% + 25px);
  }
  #toastBox .success .imageBox > img {
    height: 18px;
  }
  #toastBox .success::after {
    height: 2px;
  }
}
#homeMain {
  position: relative;
  background-color: #0e0e10;
}
#homeMain .swiper {
  width: 100%;
  height: 700px;
  color: aliceblue;
}
#homeMain .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
#homeMain .swiper .swiper-wrapper .swiper-slide .gradient {
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #0e0e10 100%);
  z-index: 2;
  height: 700px;
  width: 100%;
  position: absolute;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.986) inset;
}
#homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  background-color: rgb(162, 16, 247);
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  line-height: 140%;
  color: white;
  padding: 6px 10px;
  box-shadow: transparent;
  transition: 0.3s;
  width: 200px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 70%;
  right: 10%;
  z-index: 3;
}
#homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn .btnImg {
  height: 22px;
  transform: translateX(-1px);
}
#homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn:hover {
  scale: 1.02;
}
#homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn:active {
  box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
  scale: 0.98;
}
@media (max-width: 1359px) {
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 6px;
         column-gap: 6px;
    background-color: rgb(162, 16, 247);
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 12px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 140%;
    color: white;
    padding: 6px 10px;
    box-shadow: transparent;
    transition: 0.3s;
    width: 200px;
    height: 50px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn .btnImg {
    height: 18px;
    transform: translateX(-1px);
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn:hover {
    scale: 1.02;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn:active {
    box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
    scale: 0.98;
  }
}
@media (max-width: 768px) {
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 6px;
         column-gap: 6px;
    background-color: rgb(162, 16, 247);
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 10px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 140%;
    color: white;
    padding: 2px 3px;
    box-shadow: transparent;
    transition: 0.3s;
    width: 200px;
    height: 50px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn .btnImg {
    height: 12px;
    transform: translateX(-1px);
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn:hover {
    scale: 1.02;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn:active {
    box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset, rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
    scale: 0.98;
  }
}
#homeMain .swiper .swiper-wrapper .swiper-slide .slidetext {
  top: 20%;
  left: 10%;
  position: absolute;
  z-index: 3;
  width: 600px;
  height: 400px;
  overflow: hidden;
  font-size: 80px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  line-height: 100%;
  color: white;
}
#homeMain .swiper .swiper-wrapper .swiper-slide .slidetext p {
  background-clip: border-box;
  background: -webkit-linear-gradient(white, #8e8eb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#homeMain .swiper .swiper-wrapper .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 700px;
  width: 100%;
}
@media (max-width: 1359px) {
  #homeMain .swiper {
    height: 650px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .gradient {
    height: 650px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn {
    width: 180px;
    height: 45px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidetext {
    width: 550px;
    height: 400px;
    overflow: hidden;
    font-size: 70px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 100%;
    color: white;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide img {
    height: 650px;
  }
}
@media (max-width: 768px) {
  #homeMain .swiper {
    height: 500px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .gradient {
    height: 500px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidebtn {
    width: 100px;
    height: 40px;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide .slidetext {
    width: 350px;
    height: 250px;
    overflow: hidden;
    font-size: 50px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: white;
  }
  #homeMain .swiper .swiper-wrapper .swiper-slide img {
    height: 650px;
  }
}
#homeMain #trending {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e10;
}
#homeMain #trending .trendingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1360px;
  flex-direction: column;
  padding: 80px 30px 40px 30px;
}
#homeMain #trending .trendingContainer .topText {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#homeMain #trending .trendingContainer .topText h3 {
  font-size: 40px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 100%;
  color: white;
}
#homeMain #trending .trendingContainer .topText a {
  text-decoration: none;
}
#homeMain #trending .trendingContainer .topText a p {
  font-size: 18px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 100%;
  color: white;
  transition: 0.3s;
}
#homeMain #trending .trendingContainer .topText a p:hover {
  text-decoration: underline;
}
#homeMain #trending .trendingContainer .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  margin-top: 20px;
  gap: 44px;
}
#homeMain #trending .trendingContainer .box .myCard {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 21px;
  transition: 0.3s;
  position: relative;
}
#homeMain #trending .trendingContainer .box .myCard .play,
#homeMain #trending .trendingContainer .box .myCard .pause {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 116.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}
#homeMain #trending .trendingContainer .box .myCard .play:hover,
#homeMain #trending .trendingContainer .box .myCard .pause:hover {
  background-color: rgba(0, 0, 0, 0.747);
}
#homeMain #trending .trendingContainer .box .myCard .pause {
  display: none;
}
#homeMain #trending .trendingContainer .box .myCard a .cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText .top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText .top .price {
  font-size: 18px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 100%;
  color: white;
  color: #406cfd;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText .top .tempo {
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  line-height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  color: #b4b3b3;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText a {
  text-decoration: none;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText a .title {
  margin-top: 4px;
  width: 250px;
  font-size: 20px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  line-height: 28px;
  color: white;
  height: 28px;
  overflow: hidden;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText a {
  text-decoration: none;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText a .artist {
  margin-top: 4px;
  font-size: 16px;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: white;
  color: #b4b3b3;
}
#homeMain #trending .trendingContainer .box .myCard .bottomText a .artist:hover {
  text-decoration: underline;
}
#homeMain #trending .trendingContainer .box .myCard:hover {
  background-color: rgba(56, 54, 56, 0.7333333333);
}
#homeMain #trending .trendingContainer .box .myCard:hover .play,
#homeMain #trending .trendingContainer .box .myCard:hover .pause {
  opacity: 1;
}
@media (max-width: 1359px) {
  #homeMain #trending .trendingContainer {
    padding: 40px 10px 20px 10px;
    width: 768px;
  }
  #homeMain #trending .trendingContainer .topText {
    width: 748px;
  }
  #homeMain #trending .trendingContainer .topText h3 {
    font-size: 32px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: white;
  }
  #homeMain #trending .trendingContainer .topText a p {
    font-size: 16px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: white;
  }
  #homeMain #trending .trendingContainer .box {
    height: 320px;
    margin-top: 15px;
    gap: 53px;
    flex-wrap: wrap;
  }
  #homeMain #trending .trendingContainer .box .myCard {
    box-shadow: rgba(38, 57, 77, 0.904) 0px 13px 26px -10px;
    padding: 17px;
  }
  #homeMain #trending .trendingContainer .box .myCard:last-child {
    display: none;
  }
  #homeMain #trending .trendingContainer .box .myCard .play,
  #homeMain #trending .trendingContainer .box .myCard .pause {
    top: 85px;
    width: 44px;
    padding: 8px;
    opacity: 1;
  }
  #homeMain #trending .trendingContainer .box .myCard a .cover {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 180px;
    width: 180px;
    margin-bottom: 15px;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText .top {
    gap: 3px;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText .top .price {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: white;
    color: #406cfd;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText .top .tempo {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: white;
    color: #b4b3b3;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText a .title {
    margin-top: 2px;
    width: 180px;
    font-size: 16px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 24px;
    color: white;
    height: 24px;
    overflow: hidden;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText a .artist {
    margin-top: 0px;
    font-size: 12px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    line-height: 20px;
    color: white;
    color: #b4b3b3;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText a .artist:hover {
    text-decoration: underline;
  }
  #homeMain #trending .trendingContainer .box .myCard:hover {
    background-color: rgba(56, 54, 56, 0.7333333333);
  }
  #homeMain #trending .trendingContainer .box .myCard:hover .play,
  #homeMain #trending .trendingContainer .box .myCard:hover .pause {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  #homeMain #trending .trendingContainer {
    padding: 40px 10px 20px 10px;
    width: 400px;
  }
  #homeMain #trending .trendingContainer .topText {
    align-items: center;
    width: 380px;
  }
  #homeMain #trending .trendingContainer .topText h3 {
    font-size: 30px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    line-height: 100%;
    color: white;
  }
  #homeMain #trending .trendingContainer .topText a p {
    font-size: 16px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    line-height: 100%;
    color: white;
  }
  #homeMain #trending .trendingContainer .box {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 30px;
    gap: 40px;
    flex-wrap: wrap;
  }
  #homeMain #trending .trendingContainer .box .myCard {
    box-shadow: rgba(38, 57, 77, 0.904) 0px 13px 26px -10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 22px;
    transition: 0.3s;
    position: relative;
  }
  #homeMain #trending .trendingContainer .box .myCard .play,
  #homeMain #trending .trendingContainer .box .myCard .pause {
    top: 116.5px;
    width: 60px;
    padding: 10px;
  }
  #homeMain #trending .trendingContainer .box .myCard a .cover {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 250px;
    width: 336px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText .top {
    gap: 3px;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText .top .price {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: white;
    color: #406cfd;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText .top .tempo {
    font-size: 14px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: white;
    color: #b4b3b3;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText a .title {
    margin-top: 2px;
    width: 250px;
    font-size: 16px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    line-height: 24px;
    color: white;
    height: 24px;
    overflow: hidden;
  }
  #homeMain #trending .trendingContainer .box .myCard .bottomText a .artist {
    margin-top: 0px;
    font-size: 12px;
    font-style: normal;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    line-height: 20px;
    color: white;
    color: #b4b3b3;
  }
}