footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $back-color-web;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset;
  border-top: 2px solid $lightestGrey-color-web;
  .box {
    @include container();
    padding: 60px 30px 20px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      .footerLogo {
        width: 98px;
        top: -12px;
        left: -20px;
        position: absolute;
      }
      .infoCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        &:last-child {
          height: 74px;
          h5 {
            width: 200px;
          }
          gap: 14px;
        }
        h5 {
          @include text(24px, 400, 100%);
        }
        .inside {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 4px;
          @include text(15px, 300, 100%);
          color: rgb(141, 141, 141);
          .text {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          .sMlinks {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            .sMLogo {
              height: 36px;
            }
          }
        }
      }
    }
    .line {
      height: 1px;
      width: 1360px;
      background-color: $lightestGrey-color-web;
    }
    .bottom {
      @include text(15px, 300, 100%);
      color: rgb(141, 141, 141);
      margin-top: 20px;
    }
  }
}

@include for-type(tablet) {
  footer {
    .box {
      width: 768px;
      padding: 40px 10px 15px 10px;
      .top {
        margin-bottom: 30px;
        .footerLogo {
          width: 98px;
          top: -12px;
          left: -20px;
        }
        .infoCard {
          align-self: flex-start;
          gap: 10px;
          width: 160px;
          &:last-child {
            height: 66px;
            h5 {
              width: 160px;
            }
            gap: 14px;
          }
          h5 {
            @include text(16px, 400, 100%);
            align-self: flex-start;
          }
          .inside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 4px;
            @include text(14px, 300, 100%);
            color: rgb(141, 141, 141);
            .text {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 10px;
            }
          }
        }
        .right {
          align-items: flex-start;
          justify-content: space-between;
          .links {
            flex-direction: row;
            align-self: flex-end;
            justify-content: flex-end;
            height: fit-content;

            margin-bottom: 0;
            height: 30.4px;
            .sMlinks {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              margin-bottom: 0;
              column-gap: 2px;
              height: fit-content;
              height: 30.4px;
              .sMLogo {
                align-self: flex-end;
                height: fit-content;
                height: 30.4px;
                transform: translateY(3px);
              }
            }
          }
        }
        .mid {
          .inside {
            gap: 6px;
            .text {
              flex-direction: column;
              gap: 2px;
            }
          }
        }
      }
      .line {
        height: 1px;
        width: 768px;
        background-color: $lightestGrey-color-web;
      }
      .bottom {
        @include text(12px, 300, 100%);
        color: rgb(141, 141, 141);
        margin-top: 15px;
      }
    }
  }
}

@include for-type(mobile) {
  footer {
    .box {
      width: 380px;
      padding: 40px 0px 15px 0px;
      .top {
        margin-bottom: 30px;
        .footerLogo {
          width: 98px;
          top: -12px;
          left: -20px;
        }
        flex-direction: column;
        row-gap: 10px;
        .infoCard {
          align-self: flex-end;
          gap: 10px;
          width: 285px;
          &:last-child {
            height: fit-content;
            h5 {
              width: 285px;
            }
            gap: 10px;
          }
          h5 {
            @include text(18px, 400, 100%);
            align-self: flex-start;
          }
          .inside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 4px;
            @include text(14px, 300, 100%);
            color: rgb(141, 141, 141);
            .text {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 10px;
            }
          }
        }
        .right {
          align-items: flex-start;
          height: fit-content;

          justify-content: space-between;
          .links {
            flex-direction: row;
            align-self: flex-start;
            justify-content: flex-start;
            height: fit-content;

            margin-bottom: 0;
            .sMlinks {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin-bottom: 0;
              column-gap: 12px;
              height: fit-content;

              .sMLogo {
                align-self: center;
                height: 38px;
              }
            }
          }
        }
        .mid {
          .inside {
            .text {
              flex-direction: column;
              gap: 5px;
            }
          }
        }
      }
      .line {
        height: 1px;
        width: 380px;
        background-color: $lightestGrey-color-web;
      }
      .bottom {
        @include text(14px, 300, 100%);
        color: rgb(141, 141, 141);
        margin-top: 15px;
      }
    }
  }
}
