#feedMain {
  background-color: $back-color-web;
  display: flex;
  justify-content: center;
  align-items: center;
 
  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.144);
  }
  .box {
    min-height: calc(100vh - 298px);
    @include container();
    padding: 80px 30px 40px 30px;
    flex-direction: column;
    gap: 40px;
    .topText {
      width: 1300px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h3 {
        @include text(40px, 600, 100%);
      }
      a {
        text-decoration: none;
        p {
          @include text(18px, 600, 100%);
          transition: 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .posts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      .singlePost {
        padding: 20px;
        border-radius: 6px;
        background-color: $back-color-web;
        width: 100%;
        box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
          25px 0 20px -20px rgba(0, 0, 0, 0.45),
          0px 25px 20px -20px rgba(0, 0, 0, 0.45),
          -25px 0 20px -20px rgba(0, 0, 0, 0.45);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 640px;
        border: 1px solid $lightestGrey-color-web;
        .top {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          .pfp {
            object-fit: cover;
            object-position: center;
            height: 46px;
            width: 46px;
            border-radius: 50%;
            border: 1px solid #c7c7c7c7;
          }
          .artistName {
            @include text(22px, 600, 100%);
          }
          .releaseDate {
            @include text(16px, 400, 100%);
            color: rgb(124, 124, 124);
          }
        }
        .bottom {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 20px;
          .cover {
            object-fit: cover;
            object-position: center;
            height: 176px;
            width: 176px;
            border: 1px solid #c7c7c7c7;
          }
          .right {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;
            width: 314px;
            .title {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;
              .trackBtn,
              .pause {
                border-radius: 50%;
                padding: 4px;
                border: 2px solid white;
                cursor: pointer;
              }
              .pause {
                display: none;
                &.active {
                  display: inline-block;
                }
              }
              .trackBtn {
                display: inline-block;
                &.active {
                  display: none;
                }
              }

              .theTitle {
                @include text(18px, 600, 100%);
                max-height: 36px;
                overflow: hidden;
              }
            }
            .about {
              @include text(16px, 400, 100%);
              color: rgb(124, 124, 124);
              height: 80px;
              width: 100%;
              overflow: hidden;
            }
            .addToBasket {
              @include niceButton(max-content, 40px);
            }
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #feedMain {
    background-color: $back-color-web;
    display: flex;
    justify-content: center;
    align-items: center;
    .divider {
      height: 1px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.144);
    }
    .box {
      width: 768px;
      padding: 60px 10px 30px 10px;
      flex-direction: column;
      gap: 30px;
      .topText {
        width: 748px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h3 {
          @include text(32px, 600, 100%);
        }
        a {
          text-decoration: none;
          p {
            @include text(16px, 400, 100%);
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .posts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        .singlePost {
          padding: 20px;
          border-radius: 6px;
          background-color: $back-color-web;
          width: 100%;
          box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
            25px 0 20px -20px rgba(0, 0, 0, 0.45),
            0px 25px 20px -20px rgba(0, 0, 0, 0.45),
            -25px 0 20px -20px rgba(0, 0, 0, 0.45);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;
          border: 1px solid $lightestGrey-color-web;
          .top {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            .pfp {
              object-fit: cover;
              object-position: center;
              height: 36px;
              width: 36px;
              border-radius: 50%;
              border: 1px solid #c7c7c7c7;
            }
            .artistName {
              @include text(20px, 600, 100%);
            }
            .releaseDate {
              @include text(14px, 400, 100%);
              color: rgb(124, 124, 124);
            }
          }
          .bottom {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            .cover {
              object-fit: cover;
              object-position: center;
              height: 156px;
              width: 156px;
              border: 1px solid #c7c7c7c7;
            }
            .right {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              gap: 10px;
              width: 430px;
              position: relative;
              .title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                .trackBtn,
                .pause {
                  border-radius: 50%;
                  padding: 4px;
                  border: 2px solid white;
                  cursor: pointer;
                }
                .pause {
                  display: none;
                  &.active {
                    display: inline-block;
                  }
                }
                .trackBtn {
                  display: inline-block;
                  &.active {
                    display: none;
                  }
                }

                .theTitle {
                  @include text(18px, 600, 100%);
                  max-height: 40px;
                  overflow: hidden;
                }
              }
              .about {
                @include text(16px, 400, 100%);
                color: rgb(124, 124, 124);
                height: 110px;
                width: 100%;
                overflow: hidden;
              }
              .addToBasket {
                @include niceButton(max-content, 40px);
                position: absolute;
                right: -100px;
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@include for-type(mobile) {
  #feedMain {
    background-color: $back-color-web;
    display: flex;
    justify-content: center;
    align-items: center;
    .divider {
      height: 1px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.144);
    }
    .box {
      width: 380px;
      padding: 40px 0px 20px 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .topText {
        width: 380px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h3 {
          @include text(26px, 600, 100%);
        }
        a {
          text-decoration: none;
          p {
            @include text(14px, 400, 100%);
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .posts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        .singlePost {
          padding: 10px;
          border-radius: 6px;
          background-color: $back-color-web;
          width: 100%;
          box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
            25px 0 20px -20px rgba(0, 0, 0, 0.45),
            0px 25px 20px -20px rgba(0, 0, 0, 0.45),
            -25px 0 20px -20px rgba(0, 0, 0, 0.45);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          border: 1px solid $lightestGrey-color-web;
          .top {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            .pfp {
              object-fit: cover;
              object-position: center;
              height: 32px;
              width: 32px;
              border-radius: 50%;
              border: 1px solid #c7c7c7c7;
            }
            .artistName {
              @include text(16px, 600, 100%);
            }
            .releaseDate {
              @include text(12px, 400, 100%);
              color: rgb(124, 124, 124);
            }
          }
          .bottom {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            .cover {
              object-fit: cover;
              object-position: center;
              height: 122px;
              width: 122px;
              border: 1px solid #c7c7c7c7;
            }
            .right {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              gap: 4px;
              width: 228px;
              position: relative;
              .title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 4px;
                .trackBtn,
                .pause {
                  border-radius: 50%;
                  height: 24px;
                  width: 24px;
                  padding: 4px;
                  border: 1px solid white;
                  cursor: pointer;
                }
                .pause {
                  display: none;
                  &.active {
                    display: inline-block;
                  }
                }
                .trackBtn {
                  display: inline-block;
                  &.active {
                    display: none;
                  }
                }

                .theTitle {
                  @include text(16px, 400, 16px);
                  max-height: 16px;
                  width: 100%;
                  overflow: hidden;
                }
              }
              .about {
                @include text(14px, 400, 100%);
                color: rgb(124, 124, 124);
                height: 60px;
                width: 100%;
                overflow: hidden;
              }
              .addToBasket {
                @include niceButton(max-content, 30px);
                position: static;
                right: 0x;
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
