#loginMain {
    background-color: $back-color-web;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .box {
      .top {
        width: 360px;
        display: flex;
        align-items: flex-start;
  
        .title {
          margin-top: 24px;
          @include text(32px, 800, 100%);
        }
      }
      position: relative;
      background-color: $top-color-web;
      width: 30%;
      border: 2px solid $purple-color-web;
      border-radius: 20px;
      box-shadow: 0px 0px 20px rgba(162, 16, 247, 0.418);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 400px;
      padding: 20px 10px;
      img {
        position: absolute;
        height: 120px;
        top: -60px;
      }
      .myForm {
        margin-top: 20px;
        .checkInput {
            color: #807e7e;
            font-family: "Chakra Petch", sans-serif;
          font-weight: 600;
          font-size: 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 12px;
          align-items: center;
          @include for-type(tablet) {
              font-size: 18px;
          }
          @include for-type(mobile) {
              font-size: 16px;
          }
          cursor: pointer;
         
          .myCheckBox {
            cursor: pointer;
            border-color: #807e7e;
            outline: none;
            &:checked {
              background-color: $button-purple-color !important;
              animation: checkAnimation 0.5s ease;
            }
          }
        }
        .loginInput {
          @include input2(360px);
          margin-bottom: 30px;
        }
        .registerButton {
          @include niceButton(100%, 48px);
          @include for-type(tablet) {
            height: 44px;
          }
          @include for-type(mobile) {
            height: 40px;
          }
        }
      }
      .forgotPassword{
        margin-top: 10px;
        text-decoration: none;
        color: $blue-color-web;
        &:hover{
          text-decoration: underline;
        }
        @include for-type(mobile){
          font-size: 14px;
        }
      }
    }
    @include for-type(mobile) {
      .box {
        width: 380px;
        .top {
          width: 340px;
          .title {
            margin-top: 24px;
            @include text(30px, 600, 100%);
          }
        }
        .myForm {
          margin-top: 20px;
          .loginInput {
            @include input2(340px);
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  