@include checkboxInput();
label {
  @include text(14px, 600, 100%);
}
#tracksMain {
  background-color: $back-color-web;
  display: flex;
  justify-content: center;
  align-items: center;
  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.144);
  }
  .box {
    @include container();
    padding: 80px 30px 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    min-height: calc(100vh - 298px);
    .left {
      padding: 10px;
      border-radius: 6px;
      background-color: $top-color-web;
      width: 290px;
      box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
        25px 0 20px -20px rgba(0, 0, 0, 0.45),
        0px 25px 20px -20px rgba(0, 0, 0, 0.45),
        -25px 0 20px -20px rgba(0, 0, 0, 0.45);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      .filtersTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 100%;
        a {
          text-decoration: none;
          color: white;
          @include text(16px, 300, 100%);
          &:hover {
            text-decoration: underline;
          }
        }
        h4 {
          @include text(24px, 800, 100%);
        }
      }
      .filter {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        .top {
          width: 100%;
          height: max-content;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          border-radius: 6px;
          &:hover {
            background-color: $lightestGrey-color-web;
          }
          .filterName {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
            @include text(20px, 600, 100%);
            .filterIcon {
              height: 26px;
            }
          }
          .chevron {
            height: 22px;
            width: 22px;
            opacity: 0.6;
            transition: 0.2s;
            &.active {
              transform: rotate(-180deg);
              opacity: 1;
            }
          }
        }
        .bottom {
          width: 100%;
          display: none;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 4px;
          transition: 0.3s;
          max-width: 0px;
          &.active {
            max-width: fit-content;
            display: flex;
          }
          .inputs {
            display: flex;
            gap: 4px;
            .regular {
              width: 100%;
              .inputLabel {
                @include text(16px, 400, 100%);
              }
              gap: 4px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              .inputField {
                background-color: $back-color-web;
                outline: none;
                border: 1px solid rgb(80, 80, 80);
                border-radius: 6px;
                padding: 6px 6px;
                @include text(14px, 400, 100%);
                transition: 0.2s;
                width: 100%;
                &:hover {
                  border: 1px solid rgb(163, 163, 163);
                }
                &:focus {
                  border: 1px solid rgba(162, 16, 247, 0.8);
                }
              }
            }
          }
        }
      }
      .filterSubmit {
        @include niceButton(100%, 40px);
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      width: 964px;
      .topText {
        position: relative;
        width: 964px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .leftName {
          @include text(34px, 600, 100%);
          img{
            display: none;
          }
        }
        text-decoration: none;
        .sort {
          @include text(16px, 500, 100%);
          transition: 0.3s;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 8px;

          border-radius: 20px;
          &:hover {
            background-color: $lightestGrey-color-web;
          }
        }
        .sortHolder {
          z-index: 2;
          position: absolute;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
          display: none;
          flex-direction: column;
          padding: 4px 2px;
          gap: 6px;
          right: 0;
          top: 43px;
          width: 120px;
          background-color: $top-color-web;
          border: 1px solid gray;
          cursor: pointer;
          &.active {
            display: flex;
          }
          a {
            @include text(20px, 400, 100%);

            width: 100%;
            text-decoration: none;
            &:hover {
              background-color: $lightGrey-color-web;
            }
          }
        }
      }
      .theTracks {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
        gap: 44px;
        row-gap: 30px;
        .myCard {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
          border-radius: $border-radius-default;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 21px;
          transition: 0.3s;
          position: relative;
          height: 398px;
          width: 292px;
          height: fit-content;

          .play,
          .pause {
            position: absolute;
            z-index: 1;
            cursor: pointer;
            top: 116.5px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.404);
            border-radius: 50%;
            opacity: 0;
            transition: 0.2s;
            &:hover {
              background-color: rgba(0, 0, 0, 0.747);
            }
          }
          .pause {
            display: none;
          }
          a {
            .cover {
              object-fit: cover;
              object-position: center;
              height: 250px;
              width: 250px;
              margin-bottom: 20px;
              border-radius: $border-radius-default;
              box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            }
          }
          .bottomText {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            .top {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 6px;
              .price {
                @include text(18px, 600, 100%);
                color: $blue-color-web;
              }
              .tempo {
                display: flex;
                @include text(18px, 600, 100%);
                align-items: center;
                justify-content: center;
                color: #b4b3b3;
              }
            }
            a {
              text-decoration: none;
              .title {
                margin-top: 4px;
                width: 250px;
                @include text(20px, 800, 28px);
                height: 28px;
                overflow: hidden;
              }
            }
            .artista {
              text-decoration: none;
              .artist {
                margin-top: 4px;
                @include text(16px, 300, 24px);
                color: #b4b3b3;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          &:hover {
            background-color: $lightGrey-color-web;
            .play,
            .pause {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #tracksMain {
    .box {
      width: 768px;
      padding: 60px 10px 30px 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      position: relative;
      .left {
        height: max-content;
        padding: 10px;
        border-radius: 6px;
        background-color: $top-color-web;
        width: 200px;
        box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
          25px 0 20px -20px rgba(0, 0, 0, 0.45),
          0px 25px 20px -20px rgba(0, 0, 0, 0.45),
          -25px 0 20px -20px rgba(0, 0, 0, 0.45);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        transition: 0.3s;

        .filtersTitle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          line-height: 100%;
          a {
            text-decoration: none;
            color: white;
            @include text(14px, 300, 100%);
            &:hover {
              text-decoration: underline;
            }
          }
          h4 {
            @include text(20px, 800, 100%);
          }
        }
        .filter {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 10px;
          .top {
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-radius: 6px;
            &:hover {
              background-color: $lightestGrey-color-web;
            }
            .filterName {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 6px;
              @include text(16px, 600, 100%);
              .filterIcon {
                height: 26px;
              }
            }
            .chevron {
              height: 22px;
              width: 22px;
              opacity: 0.6;
              transition: 0.2s;
              &.active {
                transform: rotate(-180deg);
                opacity: 1;
              }
            }
          }
          .bottom {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 4px;
            transition: 0.3s;
            max-width: 0px;
            &.active {
              max-width: fit-content;
              display: flex;
            }
            .inputs {
              display: flex;
              gap: 4px;
              .regular {
                width: 100%;
                .inputLabel {
                  @include text(16px, 400, 100%);
                }
                gap: 4px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                .inputField {
                  background-color: $back-color-web;
                  outline: none;
                  border: 1px solid rgb(80, 80, 80);
                  border-radius: 6px;
                  padding: 6px 6px;
                  @include text(14px, 400, 100%);
                  transition: 0.2s;
                  width: 100%;
                  &:hover {
                    border: 1px solid rgb(163, 163, 163);
                  }
                  &:focus {
                    border: 1px solid rgba(162, 16, 247, 0.8);
                  }
                }
              }
            }
          }
        }
        .filterSubmit {
          @include niceButton(100%, 40px);
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 528px;
        .topText {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .leftName {
            @include text(28px, 600, 100%);
            img{
              display: none;
            }
          }
          text-decoration: none;
          .sort {
            @include text(14px, 500, 100%);
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 8px;
            border-radius: 20px;
            img {
              height: 18px;
            }
            &:hover {
              background-color: $lightestGrey-color-web;
            }
          }
          .sortHolder {
            z-index: 2;
            position: absolute;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            display: none;
            flex-direction: column;
            padding: 4px 2px;
            gap: 6px;
            right: 0;
            top: 37px;
            width: 120px;
            background-color: $top-color-web;
            border: 1px solid gray;
            cursor: pointer;
            &.active {
              display: flex;
            }
            a {
              @include text(18px, 400, 100%);

              width: 100%;
              text-decoration: none;
              &:hover {
                background-color: $lightGrey-color-web;
              }
            }
          }
        }
        .theTracks {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin-top: 10px;
          row-gap: 20px;
          .myCard {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            border-radius: $border-radius-default;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 10px;
            padding: 10px;
            transition: 0.3s;
            position: relative;
            width: 100%;
            height: fit-content;

            .play,
            .pause {
              position: absolute;
              z-index: 1;
              cursor: pointer;
              top: 42px;
              left: 42px;
              transform: translateX(0%);
              width: 36px;
              padding: 4px;
              background-color: rgba(0, 0, 0, 0.404);
              border-radius: 50%;
              opacity: 1;
              transition: 0.2s;
              &:hover {
                background-color: rgba(0, 0, 0, 0.747);
              }
            }
            .pause {
              display: none;
            }
            a {
              .cover {
                object-fit: cover;
                object-position: center;
                height: 100px;
                width: 100px;
                margin-bottom: 0px;
                border-radius: $border-radius-default;
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                  rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                  rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
              }
            }
            .bottomText {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
              height: 100%;
              .top {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                .price {
                  @include text(18px, 600, 100%);
                  color: $blue-color-web;
                }
                .tempo {
                  display: flex;
                  @include text(18px, 600, 100%);
                  align-items: center;
                  justify-content: center;
                  color: #b4b3b3;
                }
              }
              a {
                text-decoration: none;
                .title {
                  margin-top: 4px;
                  width: 250px;
                  @include text(20px, 800, 28px);
                  height: 28px;
                  overflow: hidden;
                }
              }
              a {
                text-decoration: none;
                .artist {
                  margin-top: 4px;
                  @include text(16px, 300, 24px);
                  color: #b4b3b3;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            &:hover {
              background-color: $lightGrey-color-web;
              .play,
              .pause {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
@include for-type(mobile) {
  #tracksMain {
    .box {
      width: 380px;
      padding: 60px 0px 30px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      position: relative;
      .left {
        position: absolute;
        top: 98px;
        z-index: 10;
        height: max-content;
        padding: 10px;
        border-radius: 6px;
        background-color: $top-color-web;
        width: 190px;
        box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
          25px 0 20px -20px rgba(0, 0, 0, 0.45),
          0px 25px 20px -20px rgba(0, 0, 0, 0.45),
          -25px 0 20px -20px rgba(0, 0, 0, 0.45);
        display: none;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        transition: 0.3s;
        &.active {
          display: flex;
        }
        .filtersTitle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          line-height: 100%;
          a {
            text-decoration: none;
            color: white;
            @include text(14px, 300, 100%);
            &:hover {
              text-decoration: underline;
            }
          }
          h4 {
            @include text(20px, 800, 100%);
          }
        }
        .filter {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 10px;
          .top {
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-radius: 6px;
            &:hover {
              background-color: $lightestGrey-color-web;
            }
            .filterName {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 6px;
              @include text(16px, 600, 100%);
              .filterIcon {
                height: 26px;
              }
            }
            .chevron {
              height: 22px;
              width: 22px;
              opacity: 0.6;
              transition: 0.2s;
              &.active {
                transform: rotate(-180deg);
                opacity: 1;
              }
            }
          }
          .bottom {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 4px;
            transition: 0.3s;
            max-width: 0px;
            &.active {
              max-width: fit-content;
              display: flex;
            }
            .inputs {
              display: flex;
              gap: 4px;
              .regular {
                width: 100%;
                .inputLabel {
                  @include text(16px, 400, 100%);
                }
                gap: 4px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                .inputField {
                  background-color: $back-color-web;
                  outline: none;
                  border: 1px solid rgb(80, 80, 80);
                  border-radius: 6px;
                  padding: 6px 6px;
                  @include text(14px, 400, 100%);
                  transition: 0.2s;
                  width: 100%;
                  &:hover {
                    border: 1px solid rgb(163, 163, 163);
                  }
                  &:focus {
                    border: 1px solid rgba(162, 16, 247, 0.8);
                  }
                }
              }
            }
          }
        }
        .filterSubmit {
          @include niceButton(100%, 30px);
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 528px;
        .topText {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .leftName {
            @include text(28px, 600, 100%);
            display: flex;
            align-items: center;
            img {
            display: inline-block;
            cursor: pointer;
              padding: 6px;
              height: 36px;

              border-radius: 20px;
              &:hover {
                background-color: $lightestGrey-color-web;
              }
            }
          }
          text-decoration: none;
          .sort {
            @include text(14px, 500, 100%);
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 8px;
            border-radius: 20px;
            img {
              height: 18px;
            }
            &:hover {
              background-color: $lightestGrey-color-web;
            }
          }
          .sortHolder {
            z-index: 2;
            position: absolute;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            display: none;
            flex-direction: column;
            padding: 4px 2px;
            gap: 6px;
            right: 0;
            top: 37px;
            width: 120px;
            background-color: $top-color-web;
            border: 1px solid gray;
            cursor: pointer;
            &.active {
              display: flex;
            }
            a {
              @include text(18px, 400, 100%);

              width: 100%;
              text-decoration: none;
              &:hover {
                background-color: $lightGrey-color-web;
              }
            }
          }
        }
        .theTracks {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin-top: 10px;
          row-gap: 20px;
          .myCard {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            border-radius: $border-radius-default;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 10px;
            padding: 10px;
            transition: 0.3s;
            position: relative;
            width: 100%;
            height: fit-content;

            .play,
            .pause {
              position: absolute;
              z-index: 1;
              cursor: pointer;
              top: 42px;
              left: 42px;
              transform: translateX(0%);
              width: 36px;
              padding: 4px;
              background-color: rgba(0, 0, 0, 0.404);
              border-radius: 50%;
              opacity: 1;
              transition: 0.2s;
              &:hover {
                background-color: rgba(0, 0, 0, 0.747);
              }
            }
            .pause {
              display: none;
            }
            a {
              .cover {
                object-fit: cover;
                object-position: center;
                height: 100px;
                width: 100px;
                margin-bottom: 0px;
                border-radius: $border-radius-default;
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                  rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                  rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
              }
            }
            .bottomText {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
              height: 100%;
              .top {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                .price {
                  @include text(18px, 600, 100%);
                  color: $blue-color-web;
                }
                .tempo {
                  display: flex;
                  @include text(18px, 600, 100%);
                  align-items: center;
                  justify-content: center;
                  color: #b4b3b3;
                }
              }
              a {
                text-decoration: none;
                .title {
                  margin-top: 4px;
                  width: 250px;
                  @include text(20px, 800, 28px);
                  height: 28px;
                  overflow: hidden;
                }
              }
              a {
                text-decoration: none;
                .artist {
                  margin-top: 4px;
                  @include text(16px, 300, 24px);
                  color: #b4b3b3;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            &:hover {
              background-color: $lightGrey-color-web;
              .play,
              .pause {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
