@mixin container() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $container-width-default;
}

@mixin text($fontSize, $fontWeight, $lineHeight) {
  font-size: $fontSize;
  font-style: normal;
  font-family: "Chakra Petch", sans-serif;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: white;
}

@mixin for-type($type) {
  @if $type==mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $type==tablet {
    @media (max-width: 1359px) {
      @content;
    }
  } @else if $type==desktop {
    @media (min-width: 1361px) {
      @content;
    }
  }
}

@mixin toast($color) {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  background-color: white;
  width: 250px;
  height: 60px;
  @include text(14px, 600, 140%);
  color: black;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 14px;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    > img {
      height: 25px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: $color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    bottom: 0px;
    left: 0;
  }
}

@mixin input0($width) {
  width: $width;
  position: relative;
  .inputLabel {
    color: #807e7e;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 16px;
    left: 6px;
    position: absolute;
    bottom: 8px;
    transition: 0.3s;
    pointer-events: none;
  }
  .inputField {
    color: white;
    width: 100%;
    padding: 4px 27px 4px 5px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 16px;
    outline: none;
    border: 3px solid transparent;
    border-bottom: 3px solid #807e7e;
    transition: 0.3s;
    background-color: transparent;

    &::placeholder {
      transition: 0.3s;
      color: transparent;
    }

    &:focus {
      border-bottom: 3px solid $purple-color-web;
    }
    &:not(:placeholder-shown),
    &:focus {
      border-bottom: 3px solid $purple-color-web;
      ~ .inputLabel {
        padding: 2px 2px;
        color: $purple-color-web;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 800;
        font-size: 12px;
        left: 4px;
        display: inline-block;
        position: absolute;
        bottom: 28px;
        transition: 0.3s;
        background-color: $back-color-web;
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(
        to right,
        $purple-color-web,
        $pink-color-web
      );
      border-image-slice: 1;
    }
  }

  @include for-type(tablet) {
    .inputLabel {
      color: #807e7e;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 600;
      font-size: 16px;
      left: 6px;
      position: absolute;
      bottom: 8px;
      transition: 0.3s;
      pointer-events: none;
    }
    .inputField {
      color: white;
      width: 100%;
      padding: 4px 20px 4px 5px;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 800;
      font-size: 16px;
      outline: none;
      border: 3px solid transparent;
      border-bottom: 3px solid #807e7e;
      transition: 0.3s;
      background-color: transparent;
      height: 30px;

      &::placeholder {
        transition: 0.3s;
        color: transparent;
      }

      &:focus {
        border-bottom: 3px solid $purple-color-web;
      }
      &:not(:placeholder-shown),
      &:focus {
        border-bottom: 3px solid $purple-color-web;
        ~ .inputLabel {
          padding: 2px 2px;
          color: $purple-color-web;
          font-family: "Chakra Petch", sans-serif;
          font-weight: 800;
          font-size: 12px;
          left: 4px;
          display: inline-block;
          position: absolute;
          bottom: 21px;
          transition: 0.3s;
          background-color: $back-color-web;
        }
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(
          to right,
          $purple-color-web,
          $pink-color-web
        );
        border-image-slice: 1;
      }
    }
  }
  @include for-type(mobile) {
    .inputLabel {
      color: #807e7e;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 400;
      font-size: 14px;
      left: 6px;
      position: absolute;
      bottom: 8px;
      transition: 0.3s;
      pointer-events: none;
    }
    .inputField {
      color: white;
      width: 100%;
      padding: 4px 18px 4px 5px;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 600;
      font-size: 12px;
      outline: none;
      border: 2px solid transparent;
      border-bottom: 2px solid #807e7e;
      transition: 0.3s;
      background-color: transparent;
      height: 30px;

      &::placeholder {
        transition: 0.3s;
        color: transparent;
      }

      &:focus {
        border-bottom: 2px solid $purple-color-web;
      }
      &:not(:placeholder-shown),
      &:focus {
        border-bottom: 2px solid $purple-color-web;
        ~ .inputLabel {
          padding: 2px 2px;
          color: $purple-color-web;
          font-family: "Chakra Petch", sans-serif;
          font-weight: 600;
          font-size: 12px;
          left: 4px;
          display: inline-block;
          position: absolute;
          bottom: 21px;
          transition: 0.3s;
          background-color: $back-color-web;
        }
        padding-bottom: 6px;
        font-weight: 500;
        border-width: 2px;
        border-image: linear-gradient(
          to right,
          $purple-color-web,
          $pink-color-web
        );
        border-image-slice: 1;
      }
    }
  }
}

@mixin input($width) {
  width: $width;
  position: relative;
  .inputLabel {
    color: #807e7e;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 16px;
    left: 6px;
    position: absolute;
    bottom: 8px;
    transition: 0.3s;
    pointer-events: none;
  }
  .inputField {
    color: white;
    width: 100%;
    padding: 4px 27px 4px 5px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 16px;
    outline: none;
    border: 3px solid transparent;
    border-bottom: 3px solid #807e7e;
    transition: 0.3s;
    background-color: transparent;

    &::placeholder {
      transition: 0.3s;
      color: transparent;
    }

    &:focus {
      border-bottom: 3px solid $purple-color-web;
    }
    &:not(:placeholder-shown),
    &:focus {
      border-bottom: 3px solid $purple-color-web;
      ~ .inputLabel {
        padding: 2px 2px;
        color: $purple-color-web;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 800;
        font-size: 12px;
        left: 4px;
        display: inline-block;
        position: absolute;
        bottom: 28px;
        transition: 0.3s;
        background-color: $back-color-web;
      }
      padding-bottom: 4px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(
        to right,
        $purple-color-web,
        $pink-color-web
      );
      border-image-slice: 1;
    }
  }

  @include for-type(tablet) {
    .inputLabel {
      color: #807e7e;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 600;
      font-size: 16px;
      left: 6px;
      position: absolute;
      bottom: 8px;
      transition: 0.3s;
      pointer-events: none;
    }
    .inputField {
      color: white;
      width: 100%;
      padding: 4px 20px 4px 5px;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 800;
      font-size: 16px;
      outline: none;
      border: 3px solid transparent;
      border-bottom: 3px solid #807e7e;
      transition: 0.3s;
      background-color: transparent;
      height: 30px;

      &::placeholder {
        transition: 0.3s;
        color: transparent;
      }

      &:focus {
        border-bottom: 3px solid $purple-color-web;
      }
      &:not(:placeholder-shown),
      &:focus {
        border-bottom: 3px solid $purple-color-web;
        ~ .inputLabel {
          padding: 2px 2px;
          color: $purple-color-web;
          font-family: "Chakra Petch", sans-serif;
          font-weight: 800;
          font-size: 12px;
          left: 4px;
          display: inline-block;
          position: absolute;
          bottom: 21px;
          transition: 0.3s;
          background-color: $back-color-web;
        }
        padding-bottom: 4px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(
          to right,
          $purple-color-web,
          $pink-color-web
        );
        border-image-slice: 1;
      }
    }
  }
  @include for-type(mobile) {
    .inputLabel {
      color: #807e7e;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 400;
      font-size: 14px;
      left: 6px;
      position: absolute;
      bottom: 8px;
      transition: 0.3s;
      pointer-events: none;
    }
    .inputField {
      color: white;
      width: 100%;
      padding: 4px 18px 4px 5px;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 600;
      font-size: 12px;
      outline: none;
      border: 2px solid transparent;
      border-bottom: 2px solid #807e7e;
      transition: 0.3s;
      background-color: transparent;
      height: 30px;

      &::placeholder {
        transition: 0.3s;
        color: transparent;
      }

      &:focus {
        border-bottom: 2px solid $purple-color-web;
      }
      &:not(:placeholder-shown),
      &:focus {
        border-bottom: 2px solid $purple-color-web;
        ~ .inputLabel {
          padding: 2px 2px;
          color: $purple-color-web;
          font-family: "Chakra Petch", sans-serif;
          font-weight: 600;
          font-size: 12px;
          left: 4px;
          display: inline-block;
          position: absolute;
          bottom: 21px;
          transition: 0.3s;
          background-color: $back-color-web;
        }
        padding-bottom: 4px;
        font-weight: 500;
        border-width: 2px;
        border-image: linear-gradient(
          to right,
          $purple-color-web,
          $pink-color-web
        );
        border-image-slice: 1;
      }
    }
  }
}

@mixin input2($width) {
  width: $width;
  position: relative;
  height: 37px;
  .inputLabel {
    color: #807e7e;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 16px;
    left: 6px;
    position: absolute;
    bottom: 8px;
    transition: 0.3s;
    pointer-events: none;
  }
  .inputField {
    color: white;
    width: 100%;
    padding: 4px 5px 4px 5px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
    font-size: 16px;
    outline: none;
    border: 3px solid transparent;
    border-bottom: 3px solid #807e7e;
    transition: 0.3s;
    background-color: transparent;

    &::placeholder {
      transition: 0.3s;
      color: transparent;
    }

    &:focus {
      border-bottom: 3px solid $purple-color-web;
    }
    &:not(:placeholder-shown),
    &:focus {
      border-bottom: 3px solid $purple-color-web;
      ~ .inputLabel {
        padding: 2px 2px;
        color: $purple-color-web;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 800;
        font-size: 12px;
        left: 4px;
        display: inline-block;
        position: absolute;
        bottom: 30px;
        transition: 0.3s;
        background-color: $top-color-web;
      }
      padding-bottom: 4px;
      font-weight: 700;
      border-width: 3px;
    }
  }

  @include for-type(tablet) {
    height: 30px;

    .inputLabel {
      color: #807e7e;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 600;
      font-size: 16px;
      left: 6px;
      position: absolute;
      bottom: 7px;
      transition: 0.3s;
      pointer-events: none;
    }
    .inputField {
      color: white;
      width: 100%;
      padding: 4px 5px 4px 5px;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 800;
      font-size: 16px;
      outline: none;
      border: 3px solid transparent;
      border-bottom: 3px solid #807e7e;
      transition: 0.3s;
      background-color: transparent;
      height: 30px;

      &::placeholder {
        transition: 0.3s;
        color: transparent;
      }

      &:focus {
        border-bottom: 3px solid $purple-color-web;
      }
      &:not(:placeholder-shown),
      &:focus {
        border-bottom: 3px solid $purple-color-web;
        ~ .inputLabel {
          padding: 2px 2px;
          color: $purple-color-web;
          font-family: "Chakra Petch", sans-serif;
          font-weight: 800;
          font-size: 12px;
          left: 4px;
          display: inline-block;
          position: absolute;
          bottom: 26px;
          transition: 0.3s;
          background-color: $top-color-web;
        }
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
      }
    }
  }
  @include for-type(mobile) {
    height: 28px;

    .inputLabel {
      color: #807e7e;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 400;
      font-size: 14px;
      left: 6px;
      position: absolute;
      bottom: 6px;
      transition: 0.3s;
      pointer-events: none;
    }
    .inputField {
      color: white;
      width: 100%;
      padding: 4px 5px 4px 5px;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 600;
      font-size: 12px;
      outline: none;
      border: 2px solid transparent;
      border-bottom: 2px solid #807e7e;
      transition: 0.3s;
      background-color: transparent;
      height: 28px;

      &::placeholder {
        transition: 0.3s;
        color: transparent;
      }

      &:focus {
        border-bottom: 2px solid $purple-color-web;
      }
      &:not(:placeholder-shown),
      &:focus {
        border-bottom: 2px solid $purple-color-web;
        ~ .inputLabel {
          padding: 2px 2px;
          color: $purple-color-web;
          font-family: "Chakra Petch", sans-serif;
          font-weight: 600;
          font-size: 12px;
          left: 4px;
          display: inline-block;
          position: absolute;
          bottom: 21px;
          transition: 0.3s;
          background-color: $top-color-web;
        }
        padding-bottom: 6px;
        font-weight: 500;
        border-width: 2px;
      }
    }
  }
}

@mixin buttonMain($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  background-color: $button-purple-color;
  outline: none;
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  @include text(16px, 800, 140%);
  padding: 6px 10px;
  box-shadow: transparent;
  transition: 0.3s;
  width: $width;
  height: $height;
  cursor: pointer;
  .btnImg {
    height: 22px;
    transform: translateX(-1px);
  }
  &:hover {
    scale: 1.02;
  }
  &:active {
    box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset,
      rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
    scale: 0.98;
  }

  @include for-type(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    background-color: $button-purple-color;
    outline: none;
    border: 1px solid transparent;
    border-radius: $border-radius-default;
    @include text(12px, 800, 140%);
    padding: 6px 10px;
    box-shadow: transparent;
    transition: 0.3s;
    width: $width;
    height: $height;
    .btnImg {
      height: 18px;
      transform: translateX(-1px);
    }
    &:hover {
      scale: 1.02;
    }
    &:active {
      box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset,
        rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
      scale: 0.98;
    }
  }
  @include for-type(mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    background-color: $button-purple-color;
    outline: none;
    border: 1px solid transparent;
    border-radius: $border-radius-default;
    @include text(10px, 600, 140%);
    padding: 2px 3px;
    box-shadow: transparent;
    transition: 0.3s;
    width: $width;
    height: $height;
    .btnImg {
      height: 12px;
      transform: translateX(-1px);
    }
    &:hover {
      scale: 1.02;
    }
    &:active {
      box-shadow: rgb(85, 33, 102) 3px 3px 6px 0px inset,
        rgba(45, 17, 54, 0.5) -3px -3px 6px 1px inset;
      scale: 0.98;
    }
  }
}

@mixin niceButton($width, $height) {
  @include buttonMain($width, $height);
  @include text(16px, 600, 100%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgb(187, 70, 255);
  }
  &:active {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }

  @include for-type(tablet) {
    @include text(16px, 600, 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background-color: rgb(187, 70, 255);
    }
    &:active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    }
  }

  @include for-type(mobile) {
    @include text(12px, 600, 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background-color: rgb(187, 70, 255);
    }
    &:active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    }
  }
}

@mixin checkboxInput() {
  .checkInput {
    color: #807e7e;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    align-items: center;
    @include for-type(tablet) {
      font-size: 18px;
    }
    @include for-type(mobile) {
      font-size: 16px;
    }
    cursor: pointer;

    .myCheckBox {
      cursor: pointer;
      border-color: #807e7e;
      outline: none;
      &:checked {
        background-color: $button-purple-color !important;
        animation: checkAnimation 0.5s ease;
      }
    }
  }
}
