//colors
//
$top-color-web: rgb(8, 8, 8);
//
$back-color-web: #0e0e10;
//
$grey-color-web: #252425;
//
$purple-color-web: #8c01cf;
//
$lightGrey-color-web: #383638bb;
//
$lightestGrey-color-web: #5757574d;
//
$button-purple-color:rgb(162, 16, 247);
//
$blue-color-web: #406cfd;
//
$pink-color-web: #d9a5ef;
//
$lightBlue-color-web: #7e8ce6;
//
$lightestBlue-color-web: #b8bee8;
//sizes
//
$container-width-default: 1360px;
//
$border-radius-default: 10px;
