//colors
//
$top-color-web: rgb(8, 8, 8);
//
$back-color-web: rgb(14, 14, 16);
//
$grey-color-web: #252425;
//
$purple-color-web: rgb(140, 1, 207);
//
$lightGrey-color-web: #383638bb;
//
$lightestGrey-color-web: rgba(87, 87, 87, 0.302);
//
$button-purple-color: #a210f7;
//
$blue-color-web: #406cfd;
//
$pink-color-web: #d9a5ef;
//
$lightBlue-color-web: #7e8ce6;
//
$lightestBlue-color-web: #b8bee8;
//sizes
//
$container-width-default: 1360px;
//
$border-radius-default: 10px;
